[Unit]
Description=SailTrack-TileServer

[Service]
Restart=on-failure
WorkingDirectory=/usr/share/sailtrack/maps
ExecStart=/usr/bin/python3 -m http.server

[Install]
WantedBy=multi-user.target
