[Unit]
Description=SailTrack-Boat
After=mosquitto.service

[Service]
EnvironmentFile=-/etc/default/sailtrack
Restart=on-failure
ExecStart=/boot/sailtrack/sailtrack-boat

[Install]
WantedBy=multi-user.target
