[Unit]
Description=SailTrack-Status
After=mosquitto.service

[Service]
EnvironmentFile=-/etc/default/sailtrack
Restart=on-failure
ExecStart=/boot/sailtrack/sailtrack-status

[Install]
WantedBy=multi-user.target
