[Unit]
Description=SailTrack-X708_ASD
After=dietpi-ramlog.service
Before=dietpi-preboot.service

[Service]
ExecStart=/boot/sailtrack/sailtrack-x708_asd

[Install]
WantedBy=multi-user.target
