[Unit]
Description=SailTrack-Processor
After=mosquitto.service

[Service]
EnvironmentFile=-/etc/default/sailtrack
Restart=on-failure
ExecStart=/boot/sailtrack/sailtrack-processor

[Install]
WantedBy=multi-user.target
