[Unit]
Description=SailTrack - NTP Disable
After=dietpi-postboot.service

[Service]
Type=oneshot
ExecStart=/boot/sailtrack/ntp/disable.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
