[Unit]
Description=SailTrack-TimeSync

[Service]
Restart=on-failure
ExecStart=/boot/sailtrack/sailtrack-timesync

[Install]
WantedBy=multi-user.target
